<ul>
    {{#each products}}
    <li>
        <strong>ID:</strong> {{this._id}} <br>
        <strong>Title:</strong> {{this.title}} <br>
        <strong> Description:</strong> {{this.description}} <br>
        <strong>Price:</strong> {{this.price}} <br>
        <strong>Code:</strong> {{this.code}} <br>
        <strong>Stock:</strong> {{this.stock}}
        <p></p>
    </li>
    {{/each}}
</ul>